<body>
<div class="sign-in-container">
  <div class="main-image">
    <form class="signin-form" (ngSubmit)="onSignIn()">
      <h1 class="title">{{ title }}</h1>

      <mat-form-field appearance="fill">
        <mat-label>{{ emailLabel }}</mat-label>
        <input matInput type="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ passwordLabel }}</mat-label>
        <input matInput type="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="enter-button">Enter</button>
      <p class="register-text">{{ registerText }} <a routerLink="/sign-up" class="register-link">Register here</a></p>
    </form>
  </div>
</div>
</body>


