/* Estilos generales */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
  color: #4caf50;
}

.calorie-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#calorieInput {
  margin-left: 10px;
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.meal-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

mat-card img {
  max-width: 100%;
  border-radius: 5px;
}

mat-card:hover {
  transform: scale(1.05);
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

p {
  margin: 5px 0;
}

.cart-container {
  margin-top: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #e0f7fa; /* Cambiar el color de fondo */
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.cart-container mat-card {
  margin-bottom: 15px; /* Aumentar la separación entre los items del carrito */
}

button {
  margin-top: auto;
}

button[color="warn"] {
  background-color: #f44336;
  color: white;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}
.checkout-summary {
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Colocar en columna */
  align-items: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Espacio superior */
}
