<h1>Healthy Meals</h1>

<div class="calorie-search-container">
  <label for="calorieInput">Max Calories:</label>
  <input id="calorieInput" type="number" [(ngModel)]="calorieLimit" (input)="applyCalorieFilter()" placeholder="Enter calorie limit">
</div>

<div>
  <h2>Breakfast</h2>
  <div class="meal-container">
    <mat-card *ngFor="let meal of breakfastMeals">
      <img [src]="meal.img" alt="{{ meal.name }}">
      <h3>{{ meal.name }}</h3>
      <p>Calories: {{ meal.calories }} kcal</p>
      <p>Protein: {{ meal.protein }}</p>
      <p>Carbohydrates: {{ meal.carbohydrates }}</p>
      <p>Fats: {{ meal.fats }}</p>
      <p>Price: ${{ meal.price }}</p>
      <button mat-button color="primary" (click)="addToOrder(meal)">Add</button>
    </mat-card>
  </div>

  <h2>Lunch</h2>
  <div class="meal-container">
    <mat-card *ngFor="let meal of lunchMeals">
      <img [src]="meal.img" alt="{{ meal.name }}">
      <h3>{{ meal.name }}</h3>
      <p>Calories: {{ meal.calories }} kcal</p>
      <p>Protein: {{ meal.protein }}</p>
      <p>Carbohydrates: {{ meal.carbohydrates }}</p>
      <p>Fats: {{ meal.fats }}</p>
      <p>Price: ${{ meal.price }}</p>
      <button mat-button color="primary" (click)="addToOrder(meal)">Add</button>
    </mat-card>
  </div>

  <h2>Dinner</h2>
  <div class="meal-container">
    <mat-card *ngFor="let meal of dinnerMeals">
      <img [src]="meal.img" alt="{{ meal.name }}">
      <h3>{{ meal.name }}</h3>
      <p>Calories: {{ meal.calories }} kcal</p>
      <p>Protein: {{ meal.protein }}</p>
      <p>Carbohydrates: {{ meal.carbohydrates }}</p>
      <p>Fats: {{ meal.fats }}</p>
      <p>Price: ${{ meal.price }}</p>
      <button mat-button color="primary" (click)="addToOrder(meal)">Add</button>
    </mat-card>
  </div>

  <!-- Carrito de Compras -->
  <h2>Your Cart</h2>
  <div *ngIf="currentOrder.items.length > 0; else emptyCart">
    <div class="cart-container">
      <mat-card *ngFor="let item of currentOrder.items">
        <h3>{{ item.name }} ({{ item.category }})</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Price per item: ${{ item.price }}</p>
        <button mat-button color="warn" (click)="removeFromOrder(item)">Remove</button>
      </mat-card>

      <!-- Total -->
      <h3>Total: ${{ currentOrder.total.toFixed(2) }}</h3>

      <!-- Botón para proceder al pago -->
      <button mat-raised-button color="primary" (click)="navigateToPay()">Proceed to Checkout</button>
    </div>
  </div>

  <!-- Mensaje si el carrito está vacío -->
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>

</div>
