<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" placeholder="Search for availability">
  </mat-form-field>

  <div>
    <mat-card *ngFor="let availability of filteredAvailabilities" class="availability-card">
      <mat-card-header>
        <h1>{{ availability.name }}</h1>
        <p>{{ availability.provider }}</p>
      </mat-card-header>
      <img mat-card-image [src]="availability.img" alt="{{ availability.name }}">
      <mat-card-content>
        <p> {{ availability.description }} </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
