.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  margin: 16px; /* Espaciado alrededor de la sección */
  background-color: #f9f9f9; /* Fondo suave para contrastar con las tarjetas */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

.availability-card {
  margin: 16px;
  transition: transform 0.3s, box-shadow 0.3s; /* Añadir animación de sombra */
  max-width: 300px; /* Ancho máximo para las tarjetas */
  background-color: rgba(128, 204, 40, 0.15); /* Color de fondo suave */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Para que la imagen y el contenido no se salgan */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

.availability-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa al hacer hover */
}

.mat-form-field {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del campo de búsqueda */
  margin: 16px 0;
}

.mat-form-field .mat-form-field-flex {
  background-color: #fff; /* Color de fondo para el campo de entrada */
}

.titulo {
  display: flex; /* Utiliza flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente (si es necesario) */
  text-align: center; /* Asegura que el texto esté centrado */
  color: #a6d54c; /* Establece el color del texto */
  margin: 20px 0; /* Añade márgenes para separar de otros elementos */
}

p {
  margin: 4px 0;
  font-size: 1rem;
  color: #555; /* Color del texto de descripción */
}

img {
  height: 200px; /* Ajusta según sea necesario */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
  border-top-left-radius: 8px; /* Bordes redondeados en la parte superior */
  border-top-right-radius: 8px; /* Bordes redondeados en la parte superior */
}
