<body>
<div class="plans-container">
  <mat-card class="plan-card orange">
    <mat-card-title class="plan-title">{{ basicPlanTitle }}</mat-card-title>
    <mat-card-content>
      <p class="plan-benefits">{{ basicPlanBenefits }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" class="buy-button basic">Buy</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="plan-card green">
    <mat-card-title class="plan-title">{{ premiumPlanTitle }}</mat-card-title>
    <mat-card-content>
      <p class="plan-benefits">{{ premiumPlanBenefits }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="buy-button premium">Buy</button>
    </mat-card-actions>
  </mat-card>
</div>
</body>
