
.sign-up-container {
  position: relative;
}
html, body {
  height: 80%;
  width: 80%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 88px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 88px;
}

.logo {
  width: 85px;
  height: 85px;
}

.nav-link {
  color: #E08E36;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-left: 30px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
}

.main-image {
  position: absolute;
  top: 94px;
  width: 1440px;
  height: 842px;

  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {

  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  border-radius: 50px;
  padding: 2rem;
  max-width: 384px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
  border: 2px solid #32CD32; /* Color verde del borde */
  position: relative; /* O 'absolute' según tu diseño */
  top: -210px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #52DE70;
  margin-bottom: 20px;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #52DE70;
  margin-top: 20px;
}

.input-field {
  border-radius: 8px;
  border: 1px solid #8B8989;
  background-color: #F5F5F5;
  width: 100%;
  height: 41px;
  padding-left: 10px;
}

.register-button {
  background-color: #F5F5F5;
  border: 2px solid #52DE70;
  color: #52DE70;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.login-text {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #52DE70;
}

.login-link {
  color: #E08E36;
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 1440px;
  height: 88px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #E08E36;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
