.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../../public/assets/imag/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.main {
  text-align: center;
  color: white;
  text-shadow:
    2px 2px 0px #000000, /* Sombra en la esquina inferior derecha */
    -2px 2px 0px #000000, /* Sombra en la esquina inferior izquierda */
    2px -2px 0px #000000, /* Sombra en la esquina superior derecha */
    -2px -2px 0px #000000;
}

.title, .subtitle {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
