<nav class="navbar">
  <img src="assets/logo.png" alt="NutriSend Logo" class="logo">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a></li>
    <li><a routerLink="/sign-in" routerLinkActive="active" class="nav-link">Sign In</a></li>
    <li><a routerLink="/sign-up" routerLinkActive="active" class="nav-link">Sign Up</a></li>
    <li><a routerLink="/plans" routerLinkActive="active" class="nav-link">Plans</a></li>
  </ul>
</nav>

<router-outlet></router-outlet> <!-- Aquí se cargarán los componentes según la ruta -->

<footer>
  <p>NutriSend Copyright 2024, © Inc All rights reserved</p>
</footer>


