<body>
<div class="sign-up-container">
  <div class="main-image">
    <form class="signup-form" (ngSubmit)="onSignUp()">
      <h1 class="title">{{ title }}</h1>
      <label class="label">{{ nameLabel }}</label>
      <input type="text" class="input-field" placeholder="Enter your name" [(ngModel)]="name" name="name" required>

      <label class="label">{{ surnameLabel }}</label>
      <input type="text" class="input-field" placeholder="Enter your surname" [(ngModel)]="surname" name="surname" required>

      <label class="label">{{ emailLabel }}</label>
      <input type="email" class="input-field" placeholder="Enter your email" [(ngModel)]="email" name="email" required>

      <label class="label">{{ passwordLabel }}</label>
      <input type="password" class="input-field" placeholder="Enter your password" [(ngModel)]="password" name="password" required>

      <button type="submit" class="register-button">Register</button>
      <p class="login-text">{{ loginText }} <a routerLink="/sign-in" class="login-link">Log in</a></p>
    </form>
  </div>
</div>
</body>

