<h2 mat-dialog-title class="dialog-title">Edit  Perfil</h2>
<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" placeholder="Escribe tu nombre">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Surname</mat-label>
    <input matInput [(ngModel)]="data.surname" placeholder="Escribe tu apellido">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" placeholder="Correo electrónico">
  </mat-form-field>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone" placeholder="Número de teléfono">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" class="save-button" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
