.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  text-align: center; /* Asegúrate de que el texto esté centrado */
}

h2 {
  color: #ff8c00;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #333;
}

strong {
  font-weight: bold;
}
.mat-card-header{
  color: #ff8c00;
  margin-bottom: 10px;
}
.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }

.mat-card-content {
  text-align: center;
}

/* Estilo para el botón */
.mat-raised-button {

  background-color: #ff8c00;
  color: white; /* Color del texto */
}

.mat-raised-button:hover {
  background-color: #e07b00;
}
