<div class="schedule-container">
  <h1>Horario de Comidas</h1>
  <p *ngIf="!schedule">Cargando horario...</p>

  <table *ngIf="schedule" class="schedule-table">
    <thead>
    <tr>
      <th>Día</th>
      <th>Desayuno</th>
      <th>Almuerzo</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of days">
      <td>{{ day.name }}</td>
      <td>{{ schedule.week[day.key].breakfast || 'No asignado' }}</td>
      <td>{{ schedule.week[day.key].lunch || 'No asignado' }}</td>
      <td>{{ schedule.week[day.key].dinner || 'No asignado' }}</td>
    </tr>
    </tbody>
  </table>
</div>
