.schedule-container {
  padding: 20px;
}

.schedule-title {
  text-align: center;
  color: #FF914D;
  font-size: 2rem;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 1fr repeat(7, 1fr);
  gap: 15px;
  align-items: start;
}

.schedule-header {
  grid-column: 2 / span 7;
  text-align: center;
}

.schedule-day {
  text-align: center;
}

.meal-type {
  font-weight: bold;
  color: #FF914D;
  align-self: center;
}

.meal-item {
  text-align: center;
}

mat-card {
  padding: 10px;
  background-color: #FFC071;
  border-radius: 10px;
}
